* {
  margin: 0;
  padding: 0;
}

.main-container {
  border: 1px red solid;
  width: 100%;
  min-height: 97.5vh;
}

.navbar-container {
  border: 1px green solid;
  width: 100%;
  height: 7.5%;
}

.card-container {
  border: 1px magenta solid;
  width: 100%;
  height: 91.75%;
}

#items-container {
  border: 1px blue solid;
  width: 70%;
  height: 100%;
}
